In [2]:
import pandas as pd
import xlsxwriter

In [3]:
income_statement = pd.read_json("API KEY")
income_statement.set_index('date', inplace=True)
cash_flow = pd.read_json("API KEY")
cash_flow.set_index('date', inplace=True)

In [4]:
income_statement.head()

,symbol,reportedCurrency,cik,fillingDate,acceptedDate,calendarYear,period,revenue,costOfRevenue,grossProfit,...,incomeBeforeTaxRatio,incomeTaxExpense,netIncome,netIncomeRatio,eps,epsdiluted,weightedAverageShsOut,weightedAverageShsOutDil,link,finalLink
date,,,,,,,,,,,,,,,,,,,,,
2021-09-25,AAPL,USD,320193,2021-10-29,2021-10-28 18:04:28,2021,FY,365817000000,212981000000,152836000000,...,0.298529,14527000000,94680000000,0.258818,5.456394,5.456394,17352119000,17352119000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
2020-09-26,AAPL,USD,320193,2020-10-30,2020-10-29 18:06:25,2020,FY,274515000000,169559000000,104956000000,...,0.244398,9680000000,57411000000,0.209136,3.310000,3.280000,17352119000,17528214000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
2019-09-28,AAPL,USD,320193,2019-10-31,2019-10-30 18:12:36,2019,FY,260174000000,161782000000,98392000000,...,0.252666,10481000000,55256000000,0.212381,2.992500,2.972500,18471336000,18595652000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
2018-09-29,AAPL,USD,320193,2018-11-05,2018-11-05 08:01:40,2018,FY,265595000000,163756000000,101839000000,...,0.274489,13372000000,59531000000,0.224142,3.002500,2.977500,19821508000,20000436000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...
2017-09-30,AAPL,USD,320193,2017-11-03,2017-11-03 08:01:37,2017,FY,229234000000,141048000000,88186000000,...,0.279579,15738000000,48351000000,0.210924,2.317500,2.302500,20868968000,21006768000,https://www.sec.gov/Archives/edgar/data/320193...,https://www.sec.gov/Archives/edgar/data/320193...

In [5]:
data = income_statement[['revenue', 'eps']].copy()
data['fcf'] = cash_flow['freeCashFlow']

In [6]:
data.head()

                 revenue       eps           fcf
date
2021-09-25  365817000000  5.456394  9.295300e+10
2020-09-26  274515000000  3.310000  7.336500e+10
2019-09-28  260174000000  2.992500  5.889600e+10
2018-09-29  265595000000  3.002500  6.412100e+10
2017-09-30  229234000000  2.317500  5.080300e+10

In [7]:
data = data.sort_index()

In [8]:
data.head()

               revenue       eps          fcf
date
1985-09-30  1918300000  0.004464          NaN
1986-09-30  1901900000  0.010714          NaN
1987-09-30  2661100000  0.014821          NaN
1988-09-30  4071400000  0.027500          NaN
1989-09-30  5284000000  0.031607  268300000.0

In [9]:
data['rev %-chg'] = data['revenue'].pct_change()
data['eps %-chg'] = data['eps'].pct_change()
data['fcf %-chg'] = data['fcf'].pct_change()

In [10]:
data.head()

               revenue       eps          fcf  rev %-chg  eps %-chg  fcf %-chg
date
1985-09-30  1918300000  0.004464          NaN        NaN        NaN        NaN
1986-09-30  1901900000  0.010714          NaN  -0.008549   1.400090        NaN
1987-09-30  2661100000  0.014821          NaN   0.399180   0.383330        NaN
1988-09-30  4071400000  0.027500          NaN   0.529969   0.855475        NaN
1989-09-30  5284000000  0.031607  268300000.0   0.297834   0.149345        NaN

In [11]:
data.tail()

,revenue,eps,fcf,rev %-chg,eps %-chg,fcf %-chg
date,,,,,,
2017-09-30,229234000000,2.317500,5.080300e+10,0.063045,0.110180,-0.028177
2018-09-29,265595000000,3.002500,6.412100e+10,0.158620,0.295577,0.262150
2019-09-28,260174000000,2.992500,5.889600e+10,-0.020411,-0.003331,-0.081487
2020-09-26,274515000000,3.310000,7.336500e+10,0.055121,0.106099,0.245670
2021-09-25,365817000000,5.456394,9.295300e+10,0.332594,0.648457,0.266994

In [12]:
data_set = data.loc['2010-01-01':]
data_set.index = data_set.index.year

In [13]:
print(data_set)

           revenue       eps           fcf  rev %-chg  eps %-chg  fcf %-chg
date
2010   65225000000  0.550357  1.647400e+10   0.785177   1.411583   0.841493
2011  108249000000  1.001786  3.007700e+10   0.659624   0.820248   0.825725
2012  156508000000  1.594286  4.145400e+10   0.445815   0.591444   0.378262
2013  170910000000  1.429643  4.459000e+10   0.092021  -0.103271   0.075650
2014  182795000000  1.622500  4.990000e+10   0.069540   0.134899   0.119085
2015  233715000000  2.320000  6.977800e+10   0.278563   0.429892   0.398357
2016  215639000000  2.087500  5.227600e+10  -0.077342  -0.100216  -0.250824
2017  229234000000  2.317500  5.080300e+10   0.063045   0.110180  -0.028177
2018  265595000000  3.002500  6.412100e+10   0.158620   0.295577   0.262150
2019  260174000000  2.992500  5.889600e+10  -0.020411  -0.003331  -0.081487
2020  274515000000  3.310000  7.336500e+10   0.055121   0.106099   0.245670
2021  365817000000  5.456394  9.295300e+10   0.332594   0.648457   0.266994

In [14]:
data_set

           revenue       eps           fcf  rev %-chg  eps %-chg  fcf %-chg
date
2010   65225000000  0.550357  1.647400e+10   0.785177   1.411583   0.841493
2011  108249000000  1.001786  3.007700e+10   0.659624   0.820248   0.825725
2012  156508000000  1.594286  4.145400e+10   0.445815   0.591444   0.378262
2013  170910000000  1.429643  4.459000e+10   0.092021  -0.103271   0.075650
2014  182795000000  1.622500  4.990000e+10   0.069540   0.134899   0.119085
2015  233715000000  2.320000  6.977800e+10   0.278563   0.429892   0.398357
2016  215639000000  2.087500  5.227600e+10  -0.077342  -0.100216  -0.250824
2017  229234000000  2.317500  5.080300e+10   0.063045   0.110180  -0.028177
2018  265595000000  3.002500  6.412100e+10   0.158620   0.295577   0.262150
2019  260174000000  2.992500  5.889600e+10  -0.020411  -0.003331  -0.081487
2020  274515000000  3.310000  7.336500e+10   0.055121   0.106099   0.245670
2021  365817000000  5.456394  9.295300e+10   0.332594   0.648457   0.266994

In [15]:
rev = data_set[['revenue', 'rev %-chg']].copy()
eps = data_set[['eps', 'eps %-chg']].copy()
fcf = data_set[['fcf', 'fcf %-chg']].copy()

In [18]:
def create_sheet(writer, df, sheet_name):
    df.to_excel(writer, sheet_name=sheet_name)
    worksheet = writer.sheets[sheet_name]
    workbook = writer.book
    
    chart = workbook.add_chart({'type': 'line'})
    
    chart.add_series({
        'name':sheet_name,
        'categories':[sheet_name, 1, 0, 11, 0],
        'values': [sheet_name, 1, 1, 11, 1],
    })
    
    column_chart = workbook.add_chart({'type':'column'})
    
    column_chart.add_series({
        'name':sheet_name,
        'categories':[sheet_name, 1, 0, 11, 0],
        'values': [sheet_name, 1, 2, 11, 2],
        'y2_axis': True,
    })
    
    chart.combine(column_chart)
    chart.set_title({'name': sheet_name})    
    chart.set_x_axis({'name': 'Date'})
    chart.set_y_axis({'name': 'Value'})
    column_chart.set_y2_axis({'name': '%-chg'})

    
    worksheet.insert_chart("E1", chart)

In [19]:
writer = pd.ExcelWriter("Financials.xlsx", engine='xlsxwriter')
workbook = writer.book

create_sheet(writer, rev, 'Revenue')
create_sheet(writer, eps, 'EPS')
create_sheet(writer, fcf, 'FCF')

workbook.close()